<% var item, key %>
<% htmlWebpackPlugin.options.headScripts = htmlWebpackPlugin.options.headScripts || [] %>
<% htmlWebpackPlugin.options.bodyScripts = htmlWebpackPlugin.options.bodyScripts || [] %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (item of htmlWebpackPlugin.options.headScripts) { %>
        <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
        <script <% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> ></script>
    <% } %>
</head>
<body>

<div id="root"></div>
<% for (item of htmlWebpackPlugin.options.bodyScripts) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
    <script <% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> ></script>
<% } %>
</body>
</html>
